{# templates/create.jinja2 #}
    result = dict(comment=[], ret={}, result=True)

    tags = (
        hub.tool.aws.tag_utils.convert_tag_list_to_dict(tags)
        if isinstance(tags, List)
        else tags
    )

    desired_state = {
        k: v
        for k, v in locals().items()
        if k not in ("hub", "ctx", "kwargs", "result") and v is not None
    }

    {%  if function.hardcoded.boto3_function %}
    resource_to_raw_input_mapping = {{ "{" }}
    {%- for key, value in function.hardcoded.function_resource_to_input_param_mappings.items() %}
        "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif -%}
    {% endfor %}
    {{ "}" }}

    payload = {}
    for key, value in desired_state.items():
        if key in resource_to_raw_input_mapping.keys() and value is not None:
            payload[resource_to_raw_input_mapping[key]] = desired_state.get(key)

    # TODO: Change function methods params if needed.
    # TODO: Check boto3 documentation for request syntax: {{ function.hardcoded.boto3_documentation }}
    ret = await {{ function.hardcoded.boto3_function }}(
        ctx,
        {{ "ClientToken=client_token or name," if function.hardcoded.has_client_token -}}
        **payload
    )
    {% else %}
    # TODO: Failed to determine CREATE function
    # Read documentation: {{ function.hardcoded.boto3_documentation }}
    ret = {}
    {%  endif %}

    result["result"] = ret["result"]
    if not result["result"]:
        result["comment"].append(ret["comment"])
        return result

    result["comment"].append(f"Created aws.{{ function.hardcoded.aws_service_name }}.{{ function.hardcoded.resource_name }} '{name}'",)

    # TODO: Check response syntax in boto3 documentation: {{ function.hardcoded.boto3_documentation }}
    raw_resource = ret["ret"].get("TODO: replace with response key if necessary", {})
    result["ret"]["resource_id"] = raw_resource.get("TODO: replace with resource identifier")
    result["ret"]["name"] = name
    {% if 'tags' not in function.hardcoded.function_resource_to_input_param_mappings %}
    tag_resource_ret = await hub.tool.aws.{{ function.hardcoded.aws_service_name }}.tag.update_tags(
        ctx,
        resource_id=resource_id,
        old_tags={},
        new_tags=tags
    )
    if not tag_resource_ret["result"]:
        result["result"] = False
        result["comment"].append(tag_resource_ret["comment"])
    {% endif %}
    return result
