{# templates/delete.jinja2 #}
    result = dict(comment=[], ret=None, result=True)

    {%  if function.hardcoded.boto3_function %}
    # TODO: Check boto3 documentation for inputs: {{ function.hardcoded.boto3_documentation }}
    delete_ret = await {{ function.hardcoded.boto3_function }}(
        ctx,
        {{ "ClientToken=name," if function.hardcoded.has_client_token -}}
        **{{ parameter.mapping.kwargs|default({}) }}
    )
    {% else %}
    # TODO: Failed to determine DELETE function
    # Read documentation: {{ function.hardcoded.boto3_documentation }}
    delete_ret = {}
    {% endif %}

    result["result"] = delete_ret["result"]

    if not result["result"]:
        result["comment"] = delete_ret["comment"]
        result["result"] = False
        return result

    result["comment"] = hub.tool.aws.comment_utils.delete_comment(
        resource_type="aws.{{ function.hardcoded.aws_service_name }}.{{ function.hardcoded.resource_name }}", name=name
    )

    return result
