{# templates/convert_raw_resource_to_present_async.jinja2 #}
    resource_translated = {
        "name": idem_resource_name,
        "resource_id": resource_id
    }

    {% if function.hardcoded.raw_resource_to_resource_mapping %}
    resource_parameters = {{ "{" }}
    {%- for key, value in function.hardcoded.raw_resource_to_resource_mapping.items() %}
        "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif -%}
    {% endfor %}
    {{ "}" }}
    {% else %}
    # TODO: Failed to resolve raw resource mappings
    resource_parameters = {}
    {% endif %}

    for parameter_raw, parameter_present in resource_parameters.items():
        if parameter_raw in raw_resource and raw_resource.get(parameter_raw):
            resource_translated[parameter_present] = raw_resource.get(parameter_raw)

    # Get it from raw_resource or explicitly retrieved tags
    resource_tags_list = raw_resource.get("Tags") or raw_resource.get("TagList")

    if resource_tags_list:
        resource_translated["tags"] = hub.tool.aws.tag_utils.convert_tag_list_to_dict(
            resource_tags_list
        )
    else:
        resource_translated["tags"] = await hub.tool.aws.{{ function.hardcoded.aws_service_name }}.tag.get_tags_for_resource(
            ctx,
            resource_id=resource_id
        )

    return resource_translated
